workspace.location=C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowWorkspace
window.x=0
window.y=0
window.fullscreen=false
dialog.location=C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/TheDiggingGameLauncher/src/net/foxycorndog/thedigginggame/launcher/menu/
window.maximized=true
jdk.location=C:/Program Files/Java/jdk1.7.0_03
last.tabs=C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowWorkspace/asm/hello.asm;C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/TheDiggingGame/src/net/foxycorndog/thedigginggame/TheDiggingGame.java;C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/TheDiggingGameLauncher/src/net/foxycorndog/thedigginggame/launcher/Launcher.java;C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/TheDiggingGameLauncher/src/net/foxycorndog/thedigginggame/launcher/menu/MainMenu.java;C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/JFoxyLib/src/net/foxycorndog/jfoxylib/util/FileUtils.java;C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/TheDiggingGameLauncher/res/splashes.txt;
assembly.compiler=MASM
window.custom=true
window.width=1280
monitor.height=1080
monitor.width=1920
dosbox.location=C:/Program Files (x86)/DOSBox-0.74/DOSBox.exe
window.height=720
workspace.location.relative=../ArrowWorkspace