window.x=458
workspace.location=C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowWorkspace
window.y=182
window.width=1205
window.fullscreen=false
dosbox.location=C:/Program Files (x86)/DOSBox-0.74/DOSBox.exe
window.maximized=false
window.height=498
g++.location=H:/mingw/MinGW/bin
assembly.compiler=NASM