workspace.location=C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowWorkspace
window.x=429
window.y=52
window.fullscreen=false
dialog.location=C:/masm32/examples/advanced/msort/
window.maximized=false
jdk.location=C:/Program Files/Java/jdk1.7.0_03
last.tabs=C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowWorkspace/APCS Project 16.5/src/Heap.java;C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowWorkspace/APCS Project 16.5/src/Driver.java;C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowWorkspace/src/Start.java;C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowWorkspace/src/Test.java;
assembly.compiler=MASM
window.custom=true
window.width=847
python.location=C:/Python/v33
monitor.height=1080
dosbox.location=C:/Program Files (x86)/DOSBox-0.74/DOSBox.exe
monitor.width=1920
window.height=682
workspace.location.relative=../ArrowWorkspace