window.custom=true
window.x=378
workspace.location=C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowWorkspace
window.y=117
window.width=1169
window.fullscreen=false
dosbox.location=C:/Program Files (x86)/DOSBox-0.74/DOSBox.exe
window.maximized=false
window.height=740
g++.location=
assembly.compiler=NASM