window.x=0
workspace.location=C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowWorkspace
window.y=0
window.fullscreen=false
window.maximized=true
jdk.location=C:/Program Files/Java/jdk1.7.0_03
g++.location=
assembly.compiler=NASM
window.custom=true
window.width=1280
python.location=C:/Python/v33
monitor.height=1080
dosbox.location=C:/Program Files (x86)/DOSBox-0.74/DOSBox.exe
monitor.width=1920
window.height=720