window.x=55
workspace.location=C:/Users/Braden Steffaniak/Documents/GitHub/Workspace
window.y=16
dialog.location=C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/Poker Game/src/net/foxycorndog/poker/
window.fullscreen=false
window.maximized=false
jdk.location=C:/Program Files/Java/jdk1.7.0_03
g++.location=C:/MinGW/bin
assembly.compiler=NASM
window.custom=true
window.width=1280
python.location=C:/Python/v33
monitor.height=1080
dosbox.location=C:/Program Files (x86)/DOSBox-0.74/DOSBox.exe
monitor.width=1920
window.height=720